<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="faixa_roxa">
        <a href="index.html"><img class="logo" src="../static/images/produtos/icones/logo_urbwave.png" alt=""></a>
    </header>

    <main class="center_content">
        <p id="cart_text">Carrinho</p>
    </main>
</body>
</html>