<!DOCTYPE html>
<html>
<head>
    <title>Banco de Dados</title>
</head>
<body>
    <h1>Banco de Dados</h1>
    <h2>Produtos</h2>
    <a href="{{ url_for('main.new_product') }}">Adicionar Produto</a>
    <ul>
        {% for product in products %}
        <li>
            {{ product.name }} - R$ {{ product.price }}
            <a href="{{ url_for('main.edit_product', product_id=product.id) }}">Editar</a>
            <a href="{{ url_for('main.delete_product', product_id=product.id) }}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Pedidos</h2>
    <a href="{{ url_for('main.orders') }}">Ver Pedidos</a>
    <hr>
    <h2>Clientes</h2>
    <a href="{{ url_for('main.customers') }}">Clientes</a>
</body>
</html>