<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="{{ url_for('main.new_product') }}">Adicionar Produto</a>
    <ul>
        {% for product in products %}
        <li>
            Nome: {{ product.name }} - Preço: R$ {{ product.price }} - Quantidade: {{ product.quantity }}
            <br>
            Descrição: {{ product.description }}
            <br>
            <a href="{{ url_for('main.edit_product', product_id=product.id) }}">Editar</a>
            <a href="{{ url_for('main.delete_product', product_id=product.id) }}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>